*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightcyan;
	position: relative;
}
#navigation-bar{
	position: absolute;
	height: 30px;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	margin-top: 50px;
	list-style: none;
	float: left;
}
#navigation-bar li{
	float: left;
}
#navigation-bar li a{
	padding: 10px;
	font-family: "微软雅黑";
	font-size: 24px;
	color: lightseagreen;
	text-decoration: blink;/*清除超链接下划线*/
	transition: all 0.5s linear;
	border: 2px solid #AAAAAA;
}
#navigation-bar li #list1{
	position: absolute;
	left: 0%;
}
#navigation-bar li #list2{
	position: absolute;
	left: 20%;
}
#navigation-bar li #list3{
	position: absolute;
	left: 40%;
}
#navigation-bar li #list4{
	position: absolute;
	left: 60%;
}
#navigation-bar li #list5{
	position: absolute;
	left: 80%;
}
#navigation-bar li a:hover{
	background: rgba(55,55,55,0.2);
}
